body{
    background-color: rgb(245, 238, 238);
    margin: 0;
    padding: 0;
    position: relative;
    #trouvkash{
        height: 80px;
        width: auto;
        background-color: rgb(8, 34, 13);
        text-align: center;
        color: white;
        font-size: 3em;
        font-weight: bolder;
        padding-top: 10px;
    }
    section{
        #maps{
            width: 700px;
            height: 600px;
            z-index: 2;
        }
        width: 20%;
        height: auto;
        margin-left: 5px;

        h1{
            background-color: rgb(8, 34, 13);
            margin: 0;
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 10px;
            text-align: center;
            color: white;
            font-size: 2em;
            font-weight: bold;
            border-radius: 10px;
            box-shadow: 4px 4px 4px black;

        }
        ul{
            padding: 0;

            li{
                height: auto;
                background-color: rgb(255, 255, 255);
                list-style: none;
                margin-bottom: 10px;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 10px 0 10px 20px;
                color: rgb(1, 29, 2);
                border-radius: 10px;
                box-shadow: 2px 2px 2px black;
            }
        }
        section{
            position: absolute;
            top: 100px;
            left: 42%;
            div{
                form{
                    input{
                        height: 40px;
                        width: 80%;
                        border-radius: 10px;
                        border: 1px solid #DADCE0;
                        box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
                        color: rgba(94, 89, 89, 0.527);
                    }
                }
            }
        }
    }

}
